h1{
	color: rgba(100,150,200,.9);
	border-color: #434e52 5px dotted ;
}

h2{
	color: rgba(100,150,200,.9);
}

h5 {
	color: rgba(100,150,200,.9);
}

p {
	color: #5b8c85;
}


body{
	padding: 5em;
	background: #ecce6d;
}
