body{
	background: url(https://i.pinimg.com/originals/72/20/ea/7220ea62619395ef1cfa004b7a7c729f.jpg);
}
form{
	padding-top: 3px;
	padding-right: 30px;
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 20em; 
	color: #ecce6d;
	border: 
}