h1{
	color: rgba(100,150,200,.9);
	/*border:  5px dotted #434e52 ;*/
}

h2{
	color: rgba(100,150,200,.9);
} 

h5 {
	color: rgba(100,150,200,.9);
}

p {
	color: #5b8c85;
}


body{
	padding: 5em;
	background: #ecce6d;
}




.completed{
	text-decoration: line-through;
}