h1 {
    color: rgba(100, 150, 200, .9);
    
    width: 300px;
}

h2 {
    color: rgba(100, 150, 200, .9);
}

h5 {
    color: rgba(100, 150, 200, .9);
}

p {
    color: #5b8c85;
}

#my_image {
    width: 20%;
    right: 5%;
    position: absolute;
    height: auto;
}

.navHead+ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: peru;
}

.navHead+li {
    float: left;
}

.navHead+a {
    display: block;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navHead+li a:hover {
    backdrop-filter: blurr;
}

#left {
    position: absolute;
    top: 3%;
    left: 5%;
    filter: drop-shadow(2px);
}

#center
{
    position: absolute;
    
    left:40%;
}

#right {
    top: 3%;
    position: absolute;
    right: 5%;
    filter: drop-shadow(2px);
}

#bottom_left {
    bottom: 5%;
    left: 4%;
    position: absolute;
    filter: blur(-2px);
}

ul:hover {
    text-decoration: underline;
    color: #5b8c85;
    background: rgba(100, 150, 200, .9);
}

body {
    padding: 5em;
    background: #ecce6d;
}
