h1 {
    color: rgba(232,222,210, .9);
    width: 300px;
}

h2 {
    overflow: hidden;
    color: rgba(232,222,210, .9);
}

h5 {
    color: rgba(232,222,210, .9);
}

p {
    color:rgb(212, 154, 137);
}

#my_image {
    width: 20%;
    right: 15%;
    top : 40%;
    position: absolute;
    height: auto;
}

.navHead+ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: peru;
}

.navHead+li {
    float: left;
}

.navHead+a {
    display: block;
    color: wheat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navHead+li a:hover {
    backdrop-filter: blurr;
}

#left {
    color: rgba(232,222,210, .9);
    position: absolute;
    top: 3%;
    left: 5%;
    filter: drop-shadow(2px);
}

#center
{
    position: absolute;
    
    left:40%;
}

#right {
    color: rgba(232,222,210, .9);
    top: 3%;
    position: absolute;
    right: 5%;
    filter: drop-shadow(2px);
}

#bottom_left {
    bottom: 5%;
    left: 4%;
    position: absolute;
    filter: blur(-2px);
}

ul:hover {
    text-decoration: underline;
    color: #23b6a0;
    background: rgb(212, 154, 137);
}

body {
    padding: 5em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background:rgb(85, 117, 113);
}



main {
    flex: 1 0 auto;
  }